/* ⚠️ DON'T CHANGE ANYTHING HERE! ⚠️ */

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.wrapper {
  flex: 1;
}

/* Start writing your CSS below here! ✨ */
